LINE_MESSAGING_API='https://api.line.me/v2/bot'
LINE_DATA_MESSAGING_API='https://api-data.line.me/v2/bot'
LINE_CHANNEL_SECRET='96321a32ece0f5876091091f8201a3df'
LINE_CHANNEL_ACCESS_TOKEN='c645Us3/v2HBcXUwI+uXNqualR3pGmAgxarq9FaY/MckFbYqaFAMGo/2rMbSvxoflPyvsdeUuSsVk1SD9mdXr0a8l1dmDqXmOFDxvXhLvB5Yoe0r36dFOjQi/j/qrE8M2oEZike5bPJmtGJjX55BIwdB04t89/1O/w1cDnyilFU='
BUCKET_NAME='real-bot-6a793.firebasestorage.app'